doctype html
html
  head
    title Kahaaniyan 
    block scripts
    block style

  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logomic2.jpg")
                | Kahaniyaan
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/upcoming") Upcoming events]
            li #[a(href="/contact") share your work with us]
    block content
    block foot
      #footer
        | Copyright © 2019 raj21adarsh@gmail.com | All Rights Reserved
      