*{
    @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
    font-family: 'Festive', cursive;
}
.myInput{
    margin: 8px;
    border: 2px solid black;
    padding: 12px;
    border-radius: 12px;
}
.myForm{
    display: flex;
    flex-direction: column;
    border: 3px solid #030303;
    height: 571px;
    background: transparent;
    backdrop-filter: blur(0.6rem);
    border-radius: 16px;
    width: 578px;
    margin: 8px;
    margin-left: 72px;
}
.mybtn{
    background-color: black;
    color: white;
    border-radius: 6px;
    width:60px;
    height: 30px;
}
.btn{
    text-align: center;
}
h1{
    margin-left: 76px;
    margin-top: 22px;
}
.circle1{
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 19%;
    right: 52%;
  }
  #fileup{
      margin: 8px 16px;
      width:45%;
  }
  #fileup:hover{
      background:linear-gradient(50deg,white,transparent);
  }
  #submitm{
    background-color: black;
    color: white;
    border-radius: 6px;
    width:60px;
    height: 30px;
    margin-left: 15px;
  }
  